{{ ansible_managed | comment }}
{% if frigate_docker_config_version is defined and frigate_docker_config_version | string | length > 0 %}

version: {{ frigate_docker_config_version }}
{% endif %}

{{ frigate_docker_config | to_nice_yaml(sort_keys=false, indent=2) }}
